<footer class="footer">
  <img src="img/logo.png" alt="logo" class="footer__logo">
  <div class="footer-form">
    <div class="footer-form__caption">
      Узнайте, как открыть<br>Candellabra HOME<br>в Вашем городе
    </div>
    <div class="footer-form__desc">
      Оставьте заявку, мы вышлем вам материалы<br>и затем свяжемся для обсуждения деталей
    </div>
    <form class="form" action="">
      <div class="form-row">
        <input type="text" placeholder="Имя">
        <input type="text" placeholder="Телефон">
        <input type="text" placeholder="Email">
      </div>
      <div class="form-actions">
        <button class="btn btn--xs btn--primary">
          <span>Получить материалы</span>
        </button>
        <div class="form-actions__text">Нажимая кнопку “Получить материалы”<br>Вы соглашаетесь с обработкой данных</div>
      </div>
    </form>
  </div>
</footer>

<div class="hystmodal" id="formModal" aria-hidden="true">
  <div class="hystmodal__wrap">
      <div class="hystmodal__window dialog-form" role="dialog" aria-modal="true">
          <button data-hystclose class="hystmodal__close">Закрыть</button>
          <div class="footer-form">
            <div class="footer-form__caption">Узнайте, как открыть<br>Candellabra HOME<br>в Вашем городе</div>
            <div class="footer-form__desc">Оставьте заявку, мы вышлем вам материалы<br>и затем свяжемся для обсуждения деталей</div>
            <form class="form" action="">
              <div class="form-row">
                <input type="text" placeholder="Имя" tabindex="0">
                <input type="text" placeholder="Телефон" tabindex="0">
                <input type="text" placeholder="Email" tabindex="0">
              </div>
              <div class="form-actions">
                <button class="btn btn--xs btn--primary">
                  <span>Получить материалы</span>
                </button>
                <div class="form-actions__text">Нажимая кнопку “Получить материалы”<br>Вы соглашаетесь с обработкой данных</div>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>
