@media (max-width: 640px) {
  .footer {
    min-height: 0;
    padding-top: 93px;
    padding-bottom: 89px;

    &__logo {
      display: none;
    }

    &-form {
      margin: 0 auto;
      width: 90%;
      padding: 22px 15px 25px;

      &__caption {
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 12px;
      }
  
      &__desc {
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 33px;

        br {
          display: none;
        }
      }
    }

    .btn {
      height: 34px;
      padding: 9px 32px;
      border-radius: 10px;
    }
  }

  .form {

    &-row {
      flex-wrap: wrap;
      justify-content: center;

      input {
        margin-bottom: 10px;
      }
    }

    &-actions {
      margin-top: 10px;
      flex-wrap: wrap;
      justify-content: center;

      &__text {
        margin-left: 0px;
        margin-top: 10px;
        font-size: 9px;
        line-height: 14px;
        text-align: center;
      }
    }
  }
}