<section class="dynamic">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head">
          <h2 class="section-head__title">Динамический подбор<br>ассортимента</h2>
          <div class="section-head__sub">т.е. магазин в Москве и магазин в Мурманске<br>будут разные по ассортименту и ценам</div>
        </div>
        <div class="dynamic-content">
          <div class="dynamic-list">
            <div class="dynamic-list__item">
              <div class="dynamic-list__img">
                <picture>
                  <source srcset="img/dynamic-city.webp" type="image/webp">
                  <img src="img/dynamic-city.png" alt="Подушка">
                </picture>
              </div>
              <div class="dynamic-list__content">
                <div class="dynamic-list__caption">
                  Анализируем<br>область, город, район
                </div>
                <div class="dynamic-list__desc">
                  Развитие города, проходимость, стоимость<br>аренды, численность населения, средний<br>заработок и тд.
                </div>
              </div>
            </div>

            <div class="dynamic-list__item">
              <div class="dynamic-list__img">
                <picture>
                  <source srcset="img/dynamic-price.webp" type="image/webp">
                  <img src="img/dynamic-price.png" alt="Подушка">
                </picture>
              </div>
              <div class="dynamic-list__content">
                <div class="dynamic-list__caption">
                  Выбираем подходящий<br>ассортимент и цену
                </div>
                <div class="dynamic-list__desc">
                  Огромный ассортимент позволяет подбирать<br>товар по ценовым категориям без потери<br>товарных групп
                </div>
              </div>
            </div>

            <div class="dynamic-list__item">
              <div class="dynamic-list__img">
                <picture>
                  <source srcset="img/dynamic-store.webp" type="image/webp">
                  <img src="img/dynamic-store.png" alt="Подушка">
                </picture>
              </div>
              <div class="dynamic-list__content">
                <div class="dynamic-list__caption">
                  Открываем<br>магазин
                </div>
                <div class="dynamic-list__desc">
                  Проводим ремонтные работы, устанавливаем<br>оборудование, оформляем все документы
                </div>
              </div>
            </div>
          </div>

          <div class="dynamic-products">

            <div class="dynamic-products__item">
              <picture>
                <source srcset="img/dyn-product-1.webp" type="image/webp">
                <img src="img/dyn-product-1.png" alt="Подушка">
              </picture>
              <div class="dynamic-products__price">
                <span>2500р</span>
              </div>
            </div>

            <div class="dynamic-products__item">
              <picture>
                <source srcset="img/dyn-product-2.webp" type="image/webp">
                <img src="img/dyn-product-2.png" alt="Подушка">
              </picture>
              <div class="dynamic-products__price">5100р</div>
            </div>

            <div class="dynamic-products__item">
              <picture>
                <source srcset="img/dyn-product-3.webp" type="image/webp">
                <img src="img/dyn-product-3.png" alt="Подушка">
              </picture>
              <div class="dynamic-products__price">17 300р</div>
            </div>

            <div class="dynamic-products__item">
              <picture>
                <source srcset="img/dyn-product-4.webp" type="image/webp">
                <img src="img/dyn-product-4.png" alt="Подушка">
              </picture>
              <div class="dynamic-products__price">
                <span>4200р</span>
              </div>
            </div>

            <div class="dynamic-products__item">
              <picture>
                <source srcset="img/dyn-product-5.webp" type="image/webp">
                <img src="img/dyn-product-5.png" alt="Подушка">
              </picture>
              <div class="dynamic-products__price">980р</div>
            </div>

            <div class="dynamic-products__item">
              <picture>
                <source srcset="img/dyn-product-6.webp" type="image/webp">
                <img src="img/dyn-product-6.png" alt="Подушка">
              </picture>
              <div class="dynamic-products__price">
                <span>3650р</span>
              </div>
            </div>
          </div>
        </div>

        <div class="dynamic-open">
          <picture class="dynamic-open__img">
            <source srcset="img/dyn-open.webp" type="image/webp">
            <img src="img/dyn-open.png" alt="Откройте бизнес">
          </picture>
          <div class="dynamic-open__caption">
            Откройте готовый,<br>
            медийный, трендовый,<br>
            современный бизнес
          </div>
          <div class="dynamic-open__desc">
            Оставьте заявку, мы вышлем вам материалы<br>и затем свяжемся для обсуждения деталей
          </div>
          <div class="dynamic-open__actions">
            <a href="#" class="btn btn--xs btn--primary">Получить материалы</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>