@media (max-width: 640px) {
  .dynamic {
    padding-top: 51px;

    .section-head {
      margin-bottom: 52px;
    }

    &-content {
      flex-wrap: wrap;
      margin-bottom: 95px;
    }

    &-list {
      padding: 0 50px;
      margin-bottom: 70px;
      width: 100%;
      border-right: none;

      &__item {
        &:not(:last-child) {
          margin-bottom: 75px;
  
          &::after {
            height: 50px;
            left: 40px;
          }
        }
      }

      &__img {
        min-width: 0;
        width: 30%;
        margin-right: 27px;
        flex: none;
      }

      &__caption {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0;
      }
  
      &__desc {
        display: none;
      }
    }

    &-products {
      padding: 0 40px;
      gap: 50px;

      &__item {
        width: calc(50% - 25px);
      }

      &__price {
        font-size: 14px;

        span {
          &::before {
            background-size: contain;
            height: 18px;
            width: 18px;
          }
        }
      }
    }

    &-open {
      border-radius: 55px;
      padding: 0;
      padding-bottom: 43px;
      margin-bottom: 0;
      text-align: center;
      flex-direction: column;

      &__content {
        padding: 0 58px;
      }

      &__img {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
      }

      &__caption {
        margin-top: 27px;
        font-size: 20px;
        line-height: 23px;
      }

      &__desc {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 39px;

        &::after {
          display: none;
        }

        br {
          display: none;
        }
      }

      .btn {
        padding: 11px 21px;
        height: 42px;
      }
    }
  }
}