<section class="media">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="what">
          <div class="what__caption">А что такое Candellabra?</div>
          <div class="what__desc">Какой доход? Что ещё есть?</div>
        </div>
        <div class="media-content">
          <div class="media-content__item">
            <div class="section-head">
              <h2 class="section-head__title">Медиа-платформа</h2>
              <div class="section-head__sub">
                500 000 человек узнают новости<br>Candellabra каждый день
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>
                    <span>подписчики</span>
                  </th>
                  <th>
                    <span>охват чел/мес</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="img/youtube.png" alt="youtube">
                  </td>
                  <td>Youtube</td>
                  <td>102 000</td>
                  <td>6,74 млн</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/tiktok.png" alt="tiktok">
                  </td>
                  <td>TikTok</td>
                  <td>210 000</td>
                  <td>7 млн</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/vk.png" alt="vk">
                  </td>
                  <td>Вконтакте</td>
                  <td>34 600</td>
                  <td>1,25 млн</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/dzen.png" alt="dzen">
                  </td>
                  <td>ЯДзен</td>
                  <td>5 500</td>
                  <td>1,8 млн</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/pin.png" alt="pinterest">
                  </td>
                  <td>Pinterest</td>
                  <td>58 000</td>
                  <td>6,8 млн</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="media-content__item media-content--screens">
            <img src="img/screen-vk.png" class="img-screen img-screen--vk" alt="screen vk">
            <img src="img/screen-tiktok.png" class="img-screen img-screen--tiktok" alt="screen tiktok">
            <img src="img/screen-youtube.png" class="img-screen img-screen--yt" alt="screen youtube">
          </div>
        </div>
        <div class="media-pr">
          <img src="img/pr.png" alt="" class="media-pr__img">
          <div class="media-pr__caption">
            Вам не нужно тратиться<br>на PR и маркетинг - этим<br>занимаемся мы
          </div>
          <div class="media-pr__desc">Candellabra - активное медиа для Вашей<br>узнаваемости и увеличения продаж</div>
        </div>
      </div>
    </div>
  </div>
</section>