@media (max-width: 640px) {
  .media {
    padding-bottom: 0;
    background-color: #fff;

    .section-head {
      margin-bottom: 38px;
    }

    &-content {
      flex-wrap: wrap;
      margin-bottom: 10px;

      &__item {
        width: 100%;
      }

      &--screens {
        min-height: 495px;
        margin-top: 49px;
        width: 100%;

        .img-screen {
          width: 65%;

          &--vk {
            left: 50%;
            transform: translateX(-50%);
          }

          &--tiktok {
            top: 0;
            left: -46%;
          }

          &--yt {
            top: 0;
            left: auto;
            right: -46%;
            width: 63%;
          }
        }
      }
    }
  }

  .what {
    width: 100%;
    padding: 28px 0;
    border-radius: 0 0 20px 20px;
    margin-bottom: 28px;
    background-color: #F4F9FC;

    &__caption {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 5px;
    }

    &__desc {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .media-pr {
    border-radius: 55px;
    width: 85%;
    padding: 20px;
    text-align: center;

    &__img {
      position: static;
      display: block;
      width: 40%;
      margin: 0 auto;
      margin-top: -55px;
      margin-bottom: 12px;
    }

    &__caption {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 7px;
    }

    &__desc {
      font-size: 14px;
      line-height: 20px;

      br {
        display: none;
      }
    }
  }

  .table {
    width: 90%;
    margin: 0 auto;

    th {
      font-size: 10px;
      padding: 0 7px 10px;
    }
    
    td {
      padding: 5px 0;
      font-size: 14px;
  
      &:nth-child(2) {
        font-size: 16px;
        padding: 5px 15px;
      }

      img {
        width: 30px;
      }
    }
  }
}