<section class="support">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head">
          <h2 class="section-head__title">Надежная поддержка<br>от Центральной компании</h2>
          <div class="section-head__sub">Candellabra.com - берет на себя все ручные процессы<br>от маркетинга до логистики</div>
        </div>
        <div class="support-content">
          <div class="support-content--parallax">
            <picture class="support-content__img">
              <source srcset="img/support-main.webp" type="image/webp">
              <img src="img/support-main.png" alt="Up">
            </picture>
            <div class="support-content__caption">
              Ваша задача<br>
              наслаждаться бизнесом<br>
              и зарабатывать деньги
            </div>
            <div class="support-content__desc">остальное сделает Центральная компания</div>
          </div>
          
          <div class="parallax" data-depth="0.4">
            <img src="img/support-rub-1.png" alt="Ruble" class="support-content__art support-content__art--one">
          </div>

          <div class="parallax" data-depth="0.6">
            <img src="img/support-rub-2.png" alt="Ruble" class="support-content__art support-content__art--two">
          </div>
          
          <div class="parallax" data-depth="0.3">
            <img src="img/support-rub-3.png" alt="Ruble" class="support-content__art support-content__art--three">
          </div>

          <div class="parallax" data-depth="0.2">
            <img src="img/support-rub-4.png" alt="Ruble" class="support-content__art support-content__art--four">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>