.store {
  padding-top: 64px;
  margin-bottom: 45px;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;

    &__row {
      flex: 1 1 100%;
      display: flex;
      gap: 15px;

      &--hidden {
        height: 0;
        max-height: 0;
        overflow: hidden;
      }
    }
  }

  &__actions {
    text-align: center;
  }
}