<section class="store">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head">
          <h2 class="section-head__title">Наш магазин</h2>
          <div class="section-head__sub">Он уютный, современный,<br>с прекрасным дизайном</div>
        </div>
        <div class="store-content">
          <div class="store-content__row wow animate__fadeIn" data-wow-offset="100" data-wow-duration="2s">
            <picture>
              <source srcset="img/store-main.webp" type="image/webp">
              <img src="img/store-main.jpg" alt="Наш магазин">
            </picture>
          </div>

          <div class="store-content__row">
            <picture class="store-content__img wow animate__zoomIn animate__fadeIn" data-wow-offset="150" data-wow-duration="1s">
              <source srcset="img/store-1.webp" type="image/webp">
              <img src="img/store-1.png" alt="Наш магазин">
            </picture>

            <picture class="store-content__img wow animate__zoomIn animate__fadeIn" data-wow-offset="150" data-wow-duration="1s">
              <source srcset="img/store-2.webp" type="image/webp">
              <img src="img/store-2.png" alt="Наш магазин">
            </picture>

            <picture class="store-content__img wow animate__zoomIn animate__fadeIn" data-wow-offset="150" data-wow-duration="1s">
              <source srcset="img/store-3.webp" type="image/webp">
              <img src="img/store-3.png" alt="Наш магазин">
            </picture>
          </div>

          <div class="store-content__row store-content__row--hidden js-row-visible">
            <picture class="js-store-add" data-wow-duration="1s">
              <source srcset="img/store-1.webp" type="image/webp">
              <img src="img/store-1.png" alt="Наш магазин">
            </picture>

            <picture class="js-store-add" data-wow-duration="1s">
              <source srcset="img/store-2.webp" type="image/webp">
              <img src="img/store-2.png" alt="Наш магазин">
            </picture>

            <picture class="js-store-add" data-wow-duration="1s">
              <source srcset="img/store-3.webp" type="image/webp">
              <img src="img/store-3.png" alt="Наш магазин">
            </picture>
          </div>

        </div>
        <div class="store__actions">
          <button class="btn btn--more-xs js-btn-more">посмотреть ещё магазины Candellabra</button>
        </div>
      </div>
    </div>
  </div>
</section>