@media (max-width: 640px) {
  .store {
    margin-bottom: 0;

    &-content {
      margin-bottom: 0;

      &__row {
  
        &--hidden {
          display: none;
        }
      }
    }

    &__actions {
      display: none;
    }
  }
}