.hero {
  padding-top: 117px;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &-caption {
    visibility: hidden;
    width: 50%;

    &__desc {
      color: #8E8E8E;
      font-size: 32px;
      font-weight: 500;
      margin-top: 20px;
    }
  }

  &-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    visibility: hidden;

    &__desc {
      margin-top: 30px;
      text-align: center;
    }

    &-link {
      position: relative;

      &:hover {

        .link-open {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }

  &-actions {
    visibility: hidden;

    &__content {
      margin-bottom: 13px;
    }

    &__desc {
      color: #888888;
      font-size: 14px;
    }
  }
}