<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="hero__content">
          <div class="hero-caption wow animate__fadeIn" data-wow-offset="10" data-wow-duration="2s">
            <h1 class="title">
              Откройте магазин <span>стильных</span> товаров для&nbsp;дома
            </h1>
            <div class="hero-caption__desc">
              и&nbsp;зарабатывайте чистыми<br>
              от&nbsp;250&nbsp;000р в&nbsp;месяц
            </div>
          </div>
          <div class="hero-video wow animate__fadeIn" data-wow-offset="10" data-wow-duration="2s">
            <a href="#" class="hero-video-link" target="_blank" title="Открыть в новой вкладке">
              <picture>
                <source srcset="img/hero-video_2x.webp 2x" type="image/webp">
                <source srcset="img/hero-video_2x.jpg 2x">
                <source srcset="img/hero-video.webp" type="image/webp">
                <img src="img/hero-video.jpg" alt="Candellabra Home">
              </picture>
              <div class="link-open link-open--video"></div>
            </a>
            <div class="hero-video__desc has-arrow">посмотрите видео о Candellabra HOME</div>
          </div>
        </div>
        <div class="hero-actions wow animate__fadeIn" data-wow-offset="10" data-wow-duration="2s">
          <div class="hero-actions__content">
            <button class="btn btn--primary">
              <span>Получить финансовую модель</span>
            </button>
            <button class="btn btn--secondary">Инвестиции от 3 млн. рублей</button>
          </div>
          <div class="hero-actions__desc">
            оставьте заявку, и&nbsp;получите финансовую модель<br>
            бизнеса для&nbsp;вашего города
          </div>
        </div>
      </div>
    </div>
  </div>
</section>