.info {
  padding-top: 150px;
  margin-bottom: 120px;

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 70px;
    text-align: center;
  }

  &-list {
    padding: 35px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 105px;

    &__item {
      position: relative;
      padding: 69px 0;
      padding-left: 260px;
      padding-right: 26px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(50% - 53px);

      &:nth-child(3) {

        .info-list__desc {
          display: flex;
          justify-content: space-between;
          padding-right: 55px;
        }
      }

      &:nth-child(even) {
        padding-left: 365px;
        padding-right: 0;
      }
    }

    &__img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      &--one {
        left: -8%;
      }

      &--two {
        left: 0;
      }

      &--three {
        left: 7%;
      }

      &--four {
        left: 1%;
      }
    }

    &__caption {
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      margin-bottom: 10px;

      span {
        color: #FCC603;
      }
    }

    &__desc {
      line-height: 22px;
    }
  }
}