.info {
  padding-top: 300px;
  margin-bottom: 100px;

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 70px;
    text-align: center;
  }

  &-list {
    padding: 35px 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 105px;

    &__item {
      position: relative;
      padding: 69px 0;
      padding-left: 260px;
      border: 1px solid #C5C5C5;
      border-radius: 110px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(50% - 53px);
    }

    &__img {
      position: absolute;

      &--one {
        top: -9%;
        left: -10%;
        z-index: -1;
      }

      &--two {
        top: 11%;
        left: 7%;
      }

      &--three {
        top: 8%;
        left: -5%;
      }

      &--four {
        top: 28%;
        left: 8%;
      }
    }

    &__caption {
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      margin-bottom: 10px;

      span {
        color: #FCC603;
      }
    }

    &__desc {
      line-height: 22px;
    }
  }
}