<section class="info">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info__title">Candellabra сегодня</div>
        <div class="info-list">
          <div class="info-list__item">
            <picture class="info-list__img info-list__img--one">
              <source srcset="img/info-1.webp" type="image/webp">
              <img src="img/info-1.png" alt="Мы открываемся в ТЦ">
            </picture>
            <div class="info-list__caption">
              Мы уже<br>открываемся<br>в <span>48</span> из 354
            </div>
            <div class="info-list__desc">
              освободившихся топовых ТЦ<br>в России
            </div>
          </div>

          <div class="info-list__item">
            <picture class="info-list__img info-list__img--two">
              <source srcset="img/info-2.webp" type="image/webp">
              <img src="img/info-2.png" alt="Города открытия">
            </picture>
            <div class="info-list__caption">
              Наши магазины<br>уже работают в: 
            </div>
            <div class="info-list__desc">
              Москве<br>
              Воронеже<br>
              Краснодаре<br>
              Санкт-Петербурге
            </div>
          </div>

          <div class="info-list__item">
            <picture class="info-list__img info-list__img--three">
              <source srcset="img/info-3.webp" type="image/webp">
              <img src="img/info-3.png" alt="Открываются">
            </picture>
            <div class="info-list__caption">
              Магазины на<br>стадии открытия: 
            </div>
            <div class="info-list__desc">
              Москва<br>
              Калининград<br>
              Ростов на дону<br>
              Шымкент
            </div>
          </div>

          <div class="info-list__item">
            <picture class="info-list__img info-list__img--four">
              <source srcset="img/info-4.webp" type="image/webp">
              <img src="img/info-4.png" alt="Маркетплейс Candellabra.com">
            </picture>
            <div class="info-list__caption">
              Маркетплейс<br>Candellabra.com
            </div>
            <div class="info-list__desc">
              Собственная разработка,<br>с огромным количеством товаров
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>