@media (max-width: 640px) {
  .info {
    padding-top: 34px;
    margin-bottom: 18px;

    &__title {
      font-size: 24px;
      line-height: 27px;
      margin-bottom: 50px;
    }

    &-list {
      padding: 0 28px;
      gap: 0;

      &__item {
        padding: 0 23px 30px;
        width: 100%;
        margin-bottom: 36px;
        border: none;
        text-align: center;

        &:nth-child(even) {
          padding-left: inherit;
          padding-right: inherit;
        }

        &:nth-child(3) {

          .info-list__img {

            img {
              width: 30%;
            }
          }

          .info-list__desc {
            padding: 0;
            text-align: left;
          }
        }
      }

      &__img {
        margin-bottom: 13px;
        position: relative;
        top: 0;
        left: 0;
        transform: none;

        img {
          width: 80%;
          margin: 0 auto;
        }
      }

      &__caption {
        font-size: 18px;
        line-height: 22px;
        position: relative;
        z-index: 1;

        br {
          display: none;
        }
      }

      &__desc {
        font-size: 14px;
        line-height: 18px;
        position: relative;
        z-index: 1;
      }
    }
  }
}