<section class="format">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head">
          <h2 class="section-head__title">Расположение<br>и форматы</h2>
          <div class="section-head__sub">Гибкий выбор концепций</div>
        </div>
        <div class="format-content">
          <div class="format-content__item wow animate__fadeIn" data-wow-offset="100" data-wow-duration="2s" data-wow-delay="0.5s">
            <picture>
              <source srcset="img/format-1.webp" type="image/webp">
              <img src="img/format-1.png" alt="В торговом центре">
            </picture>
            <div class="format-content__caption">В торговом центре</div>
          </div>

          <div class="format-content__item wow animate__fadeIn" data-wow-offset="100" data-wow-duration="2s" data-wow-delay="1s">
            <picture>
              <source srcset="img/format-2.webp" type="image/webp">
              <img src="img/format-2.png" alt="Отдельный магазин">
            </picture>
            <div class="format-content__caption">Отдельный магазин</div>
          </div>

          <div class="format-content__item wow animate__fadeIn" data-wow-offset="100" data-wow-duration="2s" data-wow-delay="1.5s">
            <picture>
              <source srcset="img/format-3.webp" type="image/webp">
              <img src="img/format-3.png" alt="Магазин + кофейня">
            </picture>
            <div class="format-content__caption">Магазин + кофейня</div>
          </div>
        </div>
        <div class="format-list">
          <ul>
            <li>В топовых ТЦ города или<br>центральных проходных улицах</li>
            <li>Этажность 1 и 2</li>
          </ul>
          <ul>
            <li>Города с населением<br>от 30 тыс. чел (по запросу)</li>
            <li>Помещения от 15 м<sup>2</sup></li>
          </ul>
        </div>
        <div class="format-quastion">
          <div class="format-quastion__caption">Появились вопросы?</div>
          <div class="format-quastion__actions">
            <button class="btn btn--xs btn--primary" data-hystmodal="#formModal">
              <span>Задать вопрос специалисту</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>