@media (max-width: 640px) {
  .format {
    padding-top: 66px;
    margin-bottom: 68px;

    .section-head {
      margin-bottom: 41px;
    }

    &-content {
      flex-wrap: wrap;
      padding: 0 28px;
      margin-bottom: 10px;

      &__item {
        width: 100%;
        margin-bottom: 45px;
      }
    }

    &-list {
      gap: 0;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 63px;
      width: 100%;

      ul {
        list-style: none;
        padding-left: 0;

        &:last-child {

          li {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      li {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 28px;
        text-align: center;
        position: relative;

        &::before {
          content: '';
          display: block;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: #000;
          margin: 0 auto 10px;
        }
      }
    }

    &-quastion {

      &__caption {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
      }

      .btn {
        height: 44px;
        padding: 11px 20px;
      }
    }
  }
}