<section class="benefit">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="benefit-content">
          <img class="benefit-content__img" src="img/benefit.png" alt="Benefit art">
          <div class="benefit-content__caption">Почему это выгодно?</div>
          <div class="benefit-content__desc">
            почему декор и товары для дома?<br>
            почему сейчас самое время?
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="leave-brand">
  <div class="leave-brand-slider">
    <div class="leave-brand-slider__item">
      <picture class="provider-slider__item">
        <source srcset="img/zara-item.webp" type="image/webp">
        <img src="img/zara-item.png" alt="Кружка">
      </picture>
      <picture class="provider-slider__item">
        <source srcset="img/zara-logo.webp" type="image/webp">
        <img src="img/zara-logo.png" alt="Кружка">
      </picture>
    </div>

    <div class="leave-brand-slider__item">
      <picture class="provider-slider__item">
        <source srcset="img/hm-item.webp" type="image/webp">
        <img src="img/hm-item.png" alt="Кружка">
      </picture>
      <picture class="provider-slider__item">
        <source srcset="img/hm-logo.webp" type="image/webp">
        <img src="img/hm-logo.png" alt="Кружка">
      </picture>
    </div>

    <div class="leave-brand-slider__item">
      <picture class="provider-slider__item">
        <source srcset="img/ikea-item.webp" type="image/webp">
        <img src="img/ikea-item.png" alt="Кружка">
      </picture>
      <picture class="provider-slider__item">
        <source srcset="img/ikea-logo.webp" type="image/webp">
        <img src="img/ikea-logo.png" alt="Кружка">
      </picture>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head section-head--num">
          <div class="section-head__num">1</div>
          <div class="section-head__content">
            <h2 class="section-head__title">Бренды уходят<br>с российского рынка</h2>
            <div class="section-head__sub">Оставляя пустые помещения, и спрос<br>российского потребителя</div>
          </div>
        </div>
        <div class="leave-brand-content"></div>
      </div>
    </div>
  </div>
</section>

<section class="free-market">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head section-head--num">
          <div class="section-head__num">2</div>
          <div class="section-head__content">
            <h2 class="section-head__title">Освободился<br>рынок и деньги</h2>
            <div class="section-head__sub">Все обстоятельства в нашу пользу</div>
          </div>
        </div>
        <div class="free-market-content">
          <div class="free-market-content__item free-market-content__item--one">
            <img class="art" src="img/arrow-green-up.png" alt="">
            <div class="free-market-content__text">
              Индекс<br>
              потребительского интереса<br>
              к товарам для дома вырос
            </div>
            <div class="free-market-content__cus">+20%</div>
          </div>

          <div class="free-market-content__item free-market-content__item--two">
            <div class="free-market-content__text">
              Рынок мебели и товаров<br>
              для дома освободился
            </div>
            <div class="free-market-content__cus">
              более<br>
              100 млрд. р
            </div>
          </div>

          <div class="free-market-content__item free-market-content__item--three">
            <img class="art" src="img/arrow-red-down.png" alt="">
            <div class="free-market-content__text">
              Закрытые магазины<br>
              по России
            </div>
            <div class="free-market-content__cus">
              -63 магазина
            </div>
          </div>
        </div>

        <div class="money">
          <picture class="money__img">
            <source srcset="img/free-main.webp" type="image/webp">
            <img src="img/free-main.png" alt="Деньги">
          </picture>
          <div class="money__caption">
            <strong>137,6</strong><br>
            млрд. руб
          </div>
          <div class="money__desc">
            появилось<br>
            потребительского<br>
            спроса <span>сегодня</span>
          </div>
          <picture class="money__art">
            <source srcset="img/rosstat-logo.webp" type="image/webp">
            <img src="img/rosstat-logo.png" alt="Деньги">
          </picture>
        </div>

        <div class="chart">
          <div class="chart__item">
            <div class="chart__caption">Купить вазу<br>(запросов в мес)</div>
            <picture class="chart__img">
              <source srcset="img/zapros-1.webp" type="image/webp">
              <img src="img/zapros-1.png" alt="Купить вазу (запросов в мес)">
            </picture>
            <picture class="chart__footer">
              <source srcset="img/ya-logo.webp" type="image/webp">
              <img src="img/ya-logo.png" alt="Logo Yandex">
            </picture>
          </div>

          <div class="chart__item">
            <div class="chart__caption">Купить посуду<br>(запросов в мес)</div>
            <picture class="chart__img">
              <source srcset="img/zapros-2.webp" type="image/webp">
              <img src="img/zapros-2.png" alt="Купить посуду (запросов в мес)">
            </picture>
            <picture class="chart__footer">
              <source srcset="img/ya-logo.webp" type="image/webp">
              <img src="img/ya-logo.png" alt="Logo Yandex">
            </picture>
          </div>

          <div class="chart__item">
            <div class="chart__caption">“Купить товары для дома”<br>(запросов в мес)</div>
            <picture class="chart__img">
              <source srcset="img/zapros-3.webp" type="image/webp">
              <img src="img/zapros-3.png" alt="Купить товары для дома (запросов в мес)">
            </picture>
            <picture class="chart__footer">
              <source srcset="img/ya-logo.webp" type="image/webp">
              <img src="img/ya-logo.png" alt="Logo Yandex">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provider">
  <div class="provider-slider">
    <picture class="provider-slider__item">
      <source srcset="img/provider-1.webp" type="image/webp">
      <img src="img/provider-1.png" alt="Кружка">
    </picture>

    <picture class="provider-slider__item">
      <source srcset="img/provider-2.webp" type="image/webp">
      <img src="img/provider-2.png" alt="Соломка">
    </picture>

    <picture class="provider-slider__item">
      <source srcset="img/provider-3.webp" type="image/webp">
      <img src="img/provider-3.png" alt="Кружка">
    </picture>

    <picture class="provider-slider__item">
      <source srcset="img/provider-4.webp" type="image/webp">
      <img src="img/provider-4.png" alt="Кофе">
    </picture>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head section-head--num">
          <div class="section-head__num">3</div>
          <div class="section-head__content">
            <h2 class="section-head__title">Ещё освободились<br>российские поставщики</h2>
            <div class="section-head__sub">Мы с радосью подключили их к экосистеме Candellabra</div>
          </div>
        </div>
        <div class="provider-content">
          <div class="provider-content__item">
            <div class="provider-content__caption">более<br>358 поставщиков<br>и производителей</div>
            <div class="provider-content__desc">
              объединились, чтобы дать<br>
              рынку стильные и качественные<br>
              товары для дома
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="best-time">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="best-time-content">
          <img src="img/best-time.png" alt="" class="best-time-content__img">
          <div class="best-time-content__caption">
            Сейчас лучшее время<br>
            для открытия<br>
            Candellabra HOME
          </div>
          <div class="best-time-content__desc">
            Оставьте заявку, мы вышлем вам материалы<br>и затем свяжемся для обсуждения деталей
          </div>
          <div class="best-time-content__actions">
            <a href="#" class="btn btn--xs btn--primary">Получить материалы</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>