<section class="benefit">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="benefit-content">
          <img class="benefit-content__img" src="img/benefit.png" alt="Benefit art">
          <div class="benefit-content__caption">Почему это выгодно?</div>
          <div class="benefit-content__desc">
            почему декор и товары для дома?<br>
            почему сейчас самое время?
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="leave-brand">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head section-head--num">
          <div class="section-head__num">1</div>
          <div class="section-head__content">
            <h2 class="section-head__title">Бренды уходят<br>с российского рынка</h2>
            <div class="section-head__sub">Оставляя пустые помещения, и спрос<br>российского потребителя</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="free-market">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head section-head--num">
          <div class="section-head__num">2</div>
          <div class="section-head__content">
            <h2 class="section-head__title">Освободился<br>рынок и деньги</h2>
            <div class="section-head__sub">Все обстоятельства в нашу пользу</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provider">
  <div class="provider-slider">
    <picture class="provider-slider__item">
      <source srcset="img/provider-1.webp" type="image/webp">
      <img src="img/provider-1.png" alt="Кружка">
    </picture>

    <picture class="provider-slider__item">
      <source srcset="img/provider-2.webp" type="image/webp">
      <img src="img/provider-2.png" alt="Соломка">
    </picture>

    <picture class="provider-slider__item">
      <source srcset="img/provider-3.webp" type="image/webp">
      <img src="img/provider-3.png" alt="Кружка">
    </picture>

    <picture class="provider-slider__item">
      <source srcset="img/provider-4.webp" type="image/webp">
      <img src="img/provider-4.png" alt="Кофе">
    </picture>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head section-head--num">
          <div class="section-head__num">3</div>
          <div class="section-head__content">
            <h2 class="section-head__title">Ещё освободились<br>российские поставщики</h2>
            <div class="section-head__sub">Мы с радосью подключили их к экосистеме Candellabra</div>
          </div>
        </div>
        <div class="provider-content">
          <div class="provider-content__item">
            <div class="provider-content__caption">более<br>358 поставщиков<br>и производителей</div>
            <div class="provider-content__desc">
              объединились, чтобы дать<br>
              рынку стильные и качественные<br>
              товары для дома
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="best-time">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="best-time-content">
          <img src="img/best-time.png" alt="" class="best-time-content__img">
          <div class="best-time-content__caption">
            Сейчас лучшее время<br>
            для открытия<br>
            Candellabra HOME
          </div>
          <div class="best-time-content__desc">
            Оставьте заявку, мы вышлем вам материалы<br>и затем свяжемся для обсуждения деталей
          </div>
          <div class="best-time-content__actions">
            <a href="#" class="btn btn--xs btn--primary">Получить материалы</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>