@media (max-width: 640px) {
  .benefit {

    &-content {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      padding: 25px;
      text-align: center;

      &__img {
        position: static;
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: -50px;
        margin-bottom: 38px;
      }

      &__caption {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 9px;
      }

      &__desc {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .leave-brand {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 70px;
    background-color: #fff;

    .section-head {
      margin-bottom: 38px;
    }

    &-content {
      min-height: 1000px;
    }

    &-slider {
      flex-wrap: wrap;
      justify-content: center;
      transform: none;
      bottom: auto;
      top: 220px;

      &__item {
        width: 95%;
        margin-bottom: 38px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__logo {
        display: block;
        margin: 0 auto;
        width: 25%;
      }
    }
  }

  .free-market {
    padding: 20px 0;

    .section-head {
      margin-bottom: 38px;
    }

    &-content {
      padding: 0 28px;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 12px;

      &__item {
        border-radius: 70px;
        min-height: 196px;
        width: 100%;
        margin-bottom: 12px;

        &--one {
          .free-market-content__cus {
            font-size: 60px;
          }
        }

        &--two {
          .free-market-content__cus {
            font-size: 35px;
          }
        }

        &--three {
          .free-market-content__cus {
            font-size: 35px;
          }
        }
      }

      &__logos {
        padding: 0 35px;
      }

      &__text {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .money {
    padding: 25px;
    text-align: center;
    width: 85%;
    margin-bottom: 15px;

    &__img {
      position: static;
      transform: none;
    }

    &__art {
      position: static;
      display: block;

      img {
        margin: 0 auto;
      }
    }

    &__caption {
      font-size: 35px;

      strong {
        font-size: 80px;
      }
    }

    &__desc {
      font-size: 26px;
    }
  }

  .chart {
    flex-wrap: wrap;
    padding: 0 28px;
    width: 100%;

    &__item {
      width: 100%;
      border-radius: 70px;
      margin-bottom: 17px;
      box-shadow: 0px 16px 35px rgba(0, 0, 0, 0.1);
    }

    &__caption {
      font-size: 16px;
      margin-bottom: 15px;
    }

    &__footer {
      margin-top: 20px;
    }
  }

  .provider {
    padding: 120px 0 60px;

    &-content {
      padding: 25px 0;

      &__item {
        padding: 20px;
        width: 70%;
        border-radius: 50px;
      }

      &__caption {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 13px;
      }

      &__desc {
        font-size: 12px;
        line-height: 18px;

        br {
          display: none;
        }
      }
    }

    &-slider {
      bottom: 90px;
    }
  }

  .best-time {
    padding: 20px 30px 31px;
    text-align: center;

    &-content {
      padding-left: 0;

      &__img {
        position: static;
        width: 80%;
        margin: 0 auto;
        margin-top: -75px;
        margin-bottom: 24px;
      }

      &__caption {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 13px;
      }

      &__desc {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 33px;

        br {
          display: none;
        }

        &::after {
          content: '';
          display: block;
          width: 38px;
          height: 45px;
          position: absolute;
          top: 108%;
          left: 12px;
          transform: rotate(-12deg);
        }
      }
    }

    .btn {
      height: 42px;
      padding: 11px 21px;
    }
  }
}