<section class="safe">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="safe-content">
          <picture class="safe-content__img">
            <source srcset="img/provider-1.webp" type="image/webp">
            <img src="img/provider-1.png" alt="Кружка">
          </picture>
          <div class="safe-content__caption">Бизнес с гарантией!</div>
          <div class="safe-content__desc">
            Если через 1 год магазин не выйдет на плановые<br>
            показатели, мы готовый предложить выкуп магазина
          </div>
          <div class="safe-content__actions">
            <a href="#" class="btn btn--xs btn--more">Узнать подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>