<section class="safe">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="safe-content wow animate__fadeIn" data-wow-duration="2s">
          
          <div class="safe-content--parallax">
            <picture class="safe-content__img">
              <source srcset="img/bus-main.webp" type="image/webp">
              <source srcset="img/bus-main-mob.png" media="(max-width: 640px)">
              <img src="img/bus-main.png" alt="Кружка">
            </picture>

            <div class="safe-content__caption">Бизнес с гарантией!</div>
            <div class="safe-content__desc">
              Если через 1 год магазин не выйдет на плановые<br>
              показатели, мы готовый предложить выкуп магазина
            </div>
            <div class="safe-content__actions">
              <button class="btn btn--xs btn--more" data-hystmodal="#formModal">
                <span>Узнать подробнее</span>
              </button>
            </div>
          </div>

          <div class="parallax" data-depth="0.2">
            <picture class="safe-content-img safe-content-img--one">
              <source srcset="img/bus-1.webp" type="image/webp">
              <img src="img/bus-1.png" alt="Кружка">
            </picture>
          </div>

          <div class="parallax" data-depth="0.1">
            <picture class="safe-content-img safe-content-img--two">
              <source srcset="img/bus-2.webp" type="image/webp">
              <img src="img/bus-2.png" alt="Кружка">
            </picture>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>