.platform {
  background-color: #F4F9FC;
  padding: 85px 0 150px;
  overflow: hidden;

  .section-head {
    margin-bottom: 150px;
  }

  &-list {
    position: relative;

    &:not(:last-child) {
      margin-right: 206px;
    }

    &__item {
      background-color: #fff;
      border-radius: 20px;
      padding: 20px 21px 20px 29px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 270px;
      min-height: 88px;

      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }

    &__caption {
      font-size: 24px;
      font-weight: 500;
      line-height: 25px;
    }
  }

  &-content {
    position: relative;

    &__img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 870px;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      position: relative;
    }
  }
}