.platform {
  background-color: #F4F9FC;
  padding: 85px 0 115px;
  overflow: hidden;

  .section-head {
    margin-bottom: 80px;
  }

  &-list {
    position: relative;

    &:not(:last-child) {
      margin-right: 206px;
    }

    &__item {
      background-color: #fff;
      border-radius: 20px;
      border: 1px solid #EBE9E9;
      padding: 20px 21px 20px 29px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 270px;
      min-height: 88px;

      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }

    &__caption {
      font-size: 24px;
      font-weight: 500;
      line-height: 25px;
    }

    &__circle {
      height: 30px;
      width: 30px;
      border-radius: 50%;

      &--yellow {
        background-color: #FBC503;
      }

      &--green {
        animation: greenLight 2s linear infinite;
        background-color: #4BE25B;
      }
    }
  }

  &-content {
    position: relative;

    &__img {
      position: absolute;
      right: -14%;
      top: -50%;
    }

    &__wrap {
      display: flex;
      margin-bottom: 120px;
      position: relative;
    }
  }

  &-avto {
    border: 1px solid #000;
    border-radius: 110px;
    padding: 100px 0;
    padding-left: 625px;
    width: 90%;
    margin: 0 auto;
    position: relative;

    &__img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-54%);
    }

    &__caption {
      font-size: 40px;
      font-weight: 600;
      line-height: 50px;
      margin-bottom: 22px;
    }

    &__desc {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &-lines {
    position: absolute;
    top: 0;
    left: 220px;
    height: 430px;
    width: 310px;

    &__item {
      position: absolute;

      path {
        opacity: 0;
        transition: opacity .2s;

        &.anim-1,
        &.anim-2,
        &.anim-3,
        &.anim-4 {
          opacity: 1;
        }
      }
    }
  }
}

#platform-line-one {
  top: 7%;
  left: 13%;
}

#platform-line-two {
  top: 8%;
  left: 0;
}

#platform-line-three {
  top: 61%;
  left: 1%;
}

#platform-line-four {
  top: 36%;
  left: 2%;
}

@keyframes greenLight {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 16px 4px #4be25b;
  }
  100% {
    box-shadow: none;
  }
}