<section class="platform">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head">
          <h2 class="section-head__title">IT - платформа</h2>
          <div class="section-head__sub">Не переживайте, у нас автоматизированная<br>система взаимодействия</div>
        </div>

        <div class="platform-content">
          <div class="platform-content__wrap">
            <div class="platform-list">
              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">Личный<br>кабинет</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">Магазин</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">Поставщики,<br>контрагенты</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--green"></div>
                <div class="platform-list__caption">База<br>остатков</div>
              </div>
            </div>

            <div class="platform-list">
              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">CRM<br>система</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--green"></div>
                <div class="platform-list__caption">Логистика</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">Центральная<br>компания</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">Склад</div>
              </div>
            </div>
          </div>
          <picture class="platform-content__img">
            <source srcset="img/platform-main.webp" type="image/webp">
            <img src="img/platform-main.png" alt="IT - платформа">
          </picture>
        </div>

        <div class="platform-avto">
          <picture class="platform-avto__img">
            <source srcset="img/platform-chip.webp" type="image/webp">
            <img src="img/platform-chip.png" alt="Тысячи отлаженных сценариев">
          </picture>
          <div class="platform-avto__caption">
            Тысячи отлаженных<br>сценариев заменяют<br>1500 человек в секунду
          </div>
          <div class="platform-avto__desc">
            это 75 кабинетов по 20 человек
          </div>
        </div>
      </div>
    </div>
  </div>
</section>