<section class="platform">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head">
          <h2 class="section-head__title">IT - платформа</h2>
          <div class="section-head__sub">Не переживайте, у нас автоматизированная<br>система взаимодействия</div>
        </div>

        <div class="platform-content">
          <div class="platform-content__wrap">
            <div class="platform-lines">
              <svg class="platform-lines__item" id="platform-line-one" width="223" height="248" viewBox="0 0 223 248" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
                <path d="M1 18.3181C24.5878 6.00408 79.0576 -11.2356 108.234 18.3181C144.704 55.2602 81.5616 117.163 93.5369 161.094C105.512 205.026 161.579 247.459 222 245.962" stroke="#FFE477" stroke-width="4" class="js-anim-1"></path>
                <style data-made-with="vivus-instant">.anim-1{stroke-dasharray:429 431;stroke-dashoffset:430;animation:lxAfFspd_draw 2000ms linear 0ms forwards;}@keyframes lxAfFspd_draw{100%{stroke-dashoffset:0;}}@keyframes lxAfFspd_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style>
              </svg>

              <svg class="platform-lines__item" id="platform-line-two" width="301" height="143" viewBox="0 0 301 143" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
                <path d="M300.5 4.00291C279.333 -1.33043 228 8.40291 192 90.0029C156 171.603 49.6667 136.001 1 108" stroke="#F2CF45" stroke-width="4" class="js-anim-2"></path>
                <style data-made-with="vivus-instant">.anim-2{stroke-dasharray:367 369;stroke-dashoffset:368;animation:CFpsCaXI_draw 2000ms linear 0ms forwards;}@keyframes CFpsCaXI_draw{100%{stroke-dashoffset:0;}}@keyframes CFpsCaXI_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style>
              </svg>

              <svg class="platform-lines__item" id="platform-line-three" width="260" height="134" viewBox="0 0 260 134" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
                <path d="M1 3.49451C137.5 -14.5018 114 178.498 259 120.495" stroke="#FFE57D" stroke-width="4" class="js-anim-3"></path>
                <style data-made-with="vivus-instant">.anim-3{stroke-dasharray:310 312;stroke-dashoffset:311;animation:HuPJMxma_draw 2000ms linear 0ms forwards;}@keyframes HuPJMxma_draw{100%{stroke-dashoffset:0;}}@keyframes HuPJMxma_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style>
              </svg>

              <svg class="platform-lines__item" id="platform-line-four" width="294" height="232" viewBox="0 0 294 232" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
                <path d="M293 3.00112C262.833 0.167782 199.7 7.80111 188.5 61.0011C174.5 127.501 169.5 183 123 214.5C90.8205 236.299 26.5 228.333 0.5 225.5" stroke="url(#paint0_linear_2018_1320)" stroke-width="4" class="js-anim-4"></path>
                <defs>
                  <linearGradient id="paint0_linear_2018_1320" x1="171.41" y1="74.7487" x2="229.84" y2="128.782" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#A5FC4E"></stop>
                    <stop offset="1" stop-color="#76D929"></stop>
                  </linearGradient>
                </defs>
                <style data-made-with="vivus-instant">.anim-4{stroke-dasharray:428 430;stroke-dashoffset:429;animation:XfBBuCbX_draw 2000ms linear 0ms forwards;}@keyframes XfBBuCbX_draw{100%{stroke-dashoffset:0;}}@keyframes XfBBuCbX_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style>
              </svg>
            </div>

            <div class="platform-list">
              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">Личный<br>кабинет</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">Магазин</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">Поставщики,<br>контрагенты</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--green"></div>
                <div class="platform-list__caption">База<br>остатков</div>
              </div>
            </div>

            <div class="platform-list">
              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">CRM<br>система</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--green"></div>
                <div class="platform-list__caption">Логистика</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">Центральная<br>компания</div>
              </div>

              <div class="platform-list__item">
                <div class="platform-list__circle platform-list__circle--yellow"></div>
                <div class="platform-list__caption">Склад</div>
              </div>
            </div>
          </div>
          <picture class="platform-content__img">
            <source srcset="img/platform-main.webp" type="image/webp">
            <img src="img/platform-main.png" alt="IT - платформа">
          </picture>
        </div>

        <div class="platform-avto">
          <picture class="platform-avto__img">
            <source srcset="img/platform-chip.webp" type="image/webp">
            <img src="img/platform-chip.png" alt="Тысячи отлаженных сценариев">
          </picture>
          <div class="platform-avto__caption">
            Тысячи отлаженных<br>сценариев заменяют<br>1500 человек в секунду
          </div>
          <div class="platform-avto__desc">
            это 75 кабинетов по 20 человек
          </div>
        </div>
      </div>
    </div>
  </div>
</section>