@media (max-width: 640px) {
  .platform {
    padding: 37px 0 80px;

    .section-head {
      margin-bottom: 52px;
    }

    &-list {

      &:not(:last-child) {
        margin-right: 15px;
      }

      &__item {
        border-radius: 14px;
        padding: 12px 19px;
        min-height: 45px;
        width: 140px;

        &:not(:last-child) {
          margin-bottom: 11px;
        }

        &:nth-child(2) {
          margin-bottom: 295px;
        }
      }

      &__caption {
        font-size: 12px;
        line-height: 12px;
      }
    }

    &-content {

      &__img {
        width: 95%;
      }

      &__wrap {
        padding: 0 33px;
        justify-content: space-between;
        margin-bottom: 0;
      }
    }
  }
}