<section class="assort">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head">
          <h2 class="section-head__title">Ассортимент</h2>
          <div class="section-head__sub">проблем не будет - он на 90%<br>от российских поставщиков</div>
        </div>
        <div class="assort-content"></div>
        <div class="assort-desc">
          <div class="assort-desc__item">
            Текстиль<br>
            Декор для дома<br>
            Постельное белье
          </div>
          <div class="assort-desc__item">
            Одеяла и подушки<br>
            Свечи и диффузоры<br>
            Настенный декор
          </div>
          <div class="assort-desc__item">
            Освещение<br>
            Декор ванной комнаты<br>
            Ковры
          </div>
        </div>
      </div>
    </div>
  </div>
</section>