<section class="assort">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head">
          <h2 class="section-head__title">Ассортимент</h2>
          <div class="section-head__sub">проблем не будет - он на 90%<br>от российских поставщиков</div>
        </div>
        <div class="assort-content">
          <div class="assort-content__item">
            <picture class="assort-content__img">
              <source srcset="img/assort-1.webp" type="image/webp">
              <img src="img/assort-1.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-2.webp" type="image/webp">
              <img src="img/assort-2.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-3.webp" type="image/webp">
              <img src="img/assort-3.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-4.webp" type="image/webp">
              <img src="img/assort-4.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-5.webp" type="image/webp">
              <img src="img/assort-5.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-6.webp" type="image/webp">
              <img src="img/assort-6.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-7.webp" type="image/webp">
              <img src="img/assort-7.png" alt="Кружка">
            </picture>
          </div>
          <div class="assort-content__item">
            <picture class="assort-content__img">
              <source srcset="img/assort-8.webp" type="image/webp">
              <img src="img/assort-8.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-9.webp" type="image/webp">
              <img src="img/assort-9.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-10.webp" type="image/webp">
              <img src="img/assort-10.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-11.webp" type="image/webp">
              <img src="img/assort-11.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-12.webp" type="image/webp">
              <img src="img/assort-12.png" alt="Кружка">
            </picture>

            <picture class="assort-content__img">
              <source srcset="img/assort-13.webp" type="image/webp">
              <img src="img/assort-13.png" alt="Кружка">
            </picture>
          </div>
        </div>
        <div class="assort-desc">
          <div class="assort-desc__item">
            Текстиль<br>
            Декор для дома<br>
            Постельное белье
          </div>
          <div class="assort-desc__item">
            Одеяла и подушки<br>
            Свечи и диффузоры<br>
            Настенный декор
          </div>
          <div class="assort-desc__item">
            Освещение<br>
            Декор ванной комнаты<br>
            Ковры
          </div>
        </div>
      </div>
    </div>
  </div>
</section>