.assort {
  background-color: #F4F9FC;
  padding: 82px 0 124px;
  margin-bottom: 145px;

  &-desc {
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
  }

  &-content {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 67px;

    &__item {
      display: flex;
      gap: 4px;

      &:first-child {
        margin-bottom: 4px;
      }
    }
  }
}