<section class="profit">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head">
          <h2 class="section-head__title">Прибыльный бизнес</h2>
          <div class="section-head__sub">средняя маржа на товар 45%<br>средний чек 3500 руб</div>
        </div>
        <div class="profit-content">
          <div class="profit-content__item">
            <picture class="profit-content__img wow animate__fadeIn" data-wow-offset="150" data-wow-duration="1.5s">
              <source srcset="img/profit-1.webp" type="image/webp">
              <img src="img/profit-1.png" alt="Доход с 1 свечи">
            </picture>
            <div class="profit-content__card wow animate__fadeIn" data-wow-offset="150" data-wow-duration="1.5s" data-wow-delay="0.1s">
              <div class="profit-content__card-caption">Розничная цена<br>1650 руб.</div>
              <div class="profit-content__card-price">
                Доход с 1 свечи<br>
                <div class="card-price">743 руб.</div>
              </div>
            </div>
          </div>

          <div class="profit-content__item">
            <picture class="profit-content__img wow animate__fadeIn" data-wow-offset="150" data-wow-duration="1.5s" data-wow-delay="0.2s">
              <source srcset="img/profit-2.webp" type="image/webp">
              <img src="img/profit-2.png" alt="Доход с 1 лампы">
            </picture>
            <div class="profit-content__card wow animate__fadeIn" data-wow-offset="150" data-wow-duration="1.5s" data-wow-delay="0.3s">
              <div class="profit-content__card-caption">Розничная цена<br>14 750 руб.</div>
              <div class="profit-content__card-price">
                Доход с 1 лампы<br>
                <div class="card-price">6 638 руб.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="profit-action">
          <div class="profit-action__title">
            Хотите узнать больше про<br>финансы, продажи и прибыль?
          </div>
          <div class="profit-action__button">
            <button class="btn btn--xs btn--primary" data-hystmodal="#formModal">
              <span>Задать вопрос специалисту</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>