<section class="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="about__title">О нас говорят</div>
        <div class="about__subtitle">
          Посмотрите отзывы, историю Партнёра,<br>выпуски про нас и статьи в СМИ
        </div>
        <div class="about-content">
          <div class="about-content__row wow animate__fadeIn" data-wow-offset="150" data-wow-duration="1.5s">
            <a href="#" class="about-content__item" target="_blank" title="Открыть в новой вкладке">
              <div class="link-open link-open--video"></div>
              <picture class="about-content__img">
                <source srcset="img/about-1.webp" type="image/webp">
                <img src="img/about-1.png" alt="Канал “Хайповый бизнес”">
              </picture>
              <div class="about-content__caption">Канал “Хайповый бизнес”</div>
              <div class="about-content__desc">
                Как я запустил МЕБЕЛЬНЫЙ БИЗНЕС?<br>
                Мебельный бизнес с чего начать?
              </div>
            </a>

            <a href="#" class="about-content__item" target="_blank" title="Открыть в новой вкладке">
              <div class="link-open link-open--video"></div>
              <picture class="about-content__img">
                <source srcset="img/about-2.webp" type="image/webp">
                <img src="img/about-2.png" alt="Канал “Москва 24”">
              </picture>
              <div class="about-content__caption">Канал “Москва 24”</div>
              <div class="about-content__desc">
                Место IKEA могут занять отечественные<br>
                производители – маркетологи
              </div>
            </a>

            <a href="#" class="about-content__item" target="_blank" title="Открыть в новой вкладке">
              <div class="link-open link-open--article"></div>
              <picture class="about-content__img">
                <source srcset="img/about-3.webp" type="image/webp">
                <img src="img/about-3.png" alt="Москва онлайн msk1.ru">
              </picture>
              <div class="about-content__caption">Москва онлайн msk1.ru</div>
              <div class="about-content__desc">
                Вместо IKEA и Zara Home в Москве могут<br>
                открыться магазины питерской сети<br>
                Candellabra
              </div>
            </a>
          </div>

          <div class="about-content__row about-content__row--hidden js-row-visible-about wow animate__fadeIn" data-wow-offset="150" data-wow-duration="1.5s">
            <a href="#" class="about-content__item" target="_blank" title="Открыть в новой вкладке">
              <div class="link-open link-open--article"></div>
              <picture class="about-content__img">
                <source srcset="img/about-4.webp" type="image/webp">
                <img src="img/about-4.png" alt="Журнал “Москвич MAG”">
              </picture>
              <div class="about-content__caption">Журнал “Москвич MAG”</div>
            </a>

            <a href="#" class="about-content__item" target="_blank" title="Открыть в новой вкладке">
              <div class="link-open link-open--video"></div>
              <picture class="about-content__img">
                <source srcset="img/about-5.webp" type="image/webp">
                <img src="img/about-5.png" alt="Канал “ПРО БИЗНЕС”">
              </picture>
              <div class="about-content__caption">Канал “ПРО БИЗНЕС”</div>
            </a>

            <a href="#" class="about-content__item" target="_blank" title="Открыть в новой вкладке">
              <div class="link-open link-open--article"></div>
              <picture class="about-content__img">
                <source srcset="img/about-6.webp" type="image/webp">
                <img src="img/about-6.png" alt="“Открытый франчайзинг”">
              </picture>
              <div class="about-content__caption">“Открытый франчайзинг”</div>
            </a>
          </div>

          <div class="about-content__row about-content__row--hidden js-row-visible-about wow animate__fadeIn" data-wow-offset="150" data-wow-duration="1.5s">
            <a href="#" class="about-content__item" target="_blank" title="Открыть в новой вкладке">
              <div class="link-open link-open--article"></div>
              <picture class="about-content__img">
                <source srcset="img/about-7.webp" type="image/webp">
                <img src="img/about-7.png" alt="Журнал “Диалог”">
              </picture>
              <div class="about-content__caption">Журнал “Диалог”</div>
            </a>

            <a href="#" class="about-content__item" target="_blank" title="Открыть в новой вкладке">
              <div class="link-open link-open--article"></div>
              <picture class="about-content__img">
                <source srcset="img/about-8.webp" type="image/webp">
                <img src="img/about-8.png" alt="РБК Компании">
              </picture>
              <div class="about-content__caption">РБК Компании</div>
            </a>

            <a href="#" class="about-content__item" target="_blank" title="Открыть в новой вкладке">
              <div class="link-open link-open--article"></div>
              <picture class="about-content__img">
                <source srcset="img/about-9.webp" type="image/webp">
                <img src="img/about-9.png" alt="Журнал “designers from russia”">
              </picture>
              <div class="about-content__caption">Журнал “designers from russia”</div>
            </a>
          </div>
        </div>

        <div class="about__actions">
          <button class="btn btn--more-xs js-btn-more-about">Показать ещё</button>
        </div>
      </div>
    </div>
  </div>
</section>